@import url('http://fonts.cdnfonts.com/css/gt-pressura-mono');
body {
    height: 100%;
    background-color: aliceblue;
    background-image: url(Photo/number_texture.jpg);
    background-size: 1800px 1000px;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }
  h1{
 font-family: 'GT Pressura Mono', sans-serif;
 font-size: 10vw;
 line-height: 5vw;
 letter-spacing: 2.5vw;
 color: white;
 -webkit-text-stroke: 0.4vw rgba(255, 0, 0, 0.8);
  }  
 a1{
    font-family: 'GT Pressura Mono', sans-serif;
    font-size: 4vw;
    color: white;
    -webkit-text-stroke: 0.2vw rgb(5, 5, 5,0.8);
  }
  h2{
    font-family: 'GT Pressura Mono', sans-serif;
    font-size: 30vw; 
    line-height: 40vw;
    width: 30%;
    margin:0;
    padding:0;
    transform: scaleY(1.2);
    text-align: center ;
    color: rgb(255, 255, 255,0.8);/*
    -webkit-background-clip: text;
	background-clip: text;
	background-image: url(Photo/S__6201606.jpg);
	color: transparent;*/
    -webkit-text-stroke: 0.6vw rgba(255, 0, 0, 0.8);
  }
  a2{
    font-family: 'GT Pressura Mono', sans-serif;
    font-size: 4vw; 
    color: white;
    line-height: 0% ;
    -webkit-text-stroke: 0.2vw rgba(0, 0, 0, 0.8);
}
div1{
  position: absolute;
  left: 5%;
  top: 10%;
}
div2{
  position: absolute;
  top: 0%;
  left: 50%;
  margin:0;
  padding:0;
}

@media screen and (max-width: 800px) {
  div2{top: 35%; left: 35%;}
  h2{font-size: 40vw;}
  a2{font-size: 5vw;line-height: 15vw;}
  div1{top:10%; left: 10%;}
}

  



  