@import url('http://fonts.cdnfonts.com/css/gt-pressura-mono');

html{
  background: url(Photo/number_texture.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: aliceblue;
}
h1{
  font-family: 'GT Pressura Mono', sans-serif;
  font-size: 7.5vw;
  position: absolute;
  left: 7.5vw;
  width: 47.5vw;
  letter-spacing: 3vw;
  color: white;
  -webkit-text-stroke: 2px rgba(255, 0, 0, 0.8);
  border:1px solid #004993;
}  
a1{
  font-family: 'GT Pressura Mono', sans-serif;
  font-size: 3vw;
  position: absolute;
  left: 7.5vw;
  top: 30vh;
  color: white;
  -webkit-text-stroke: 2px rgb(5, 5, 5,0.8);
  border:1px solid #004993;
}
h2{
  font-family: 'GT Pressura Mono', sans-serif;
  font-size: 27vw; 
  width: 25vw;
  position: absolute;
  left: 55vw;
  top: 10vh;
  margin: 0;
  padding: 0;
  border:1px solid #004993;
  transform: scaleY(1.2);
  text-align: right ;
  letter-spacing: -2vw;
  color: rgb(255, 255, 255,0.8);/*
  -webkit-background-clip: text;
	background-clip: text;
	background-image: url(Photo/S__6201606.jpg);
	color: transparent;*/
  -webkit-text-stroke: 4px rgba(255, 0, 0, 0.8);
}
a2{
  font-family: 'GT Pressura Mono', sans-serif;
  font-size: 2vw; 
  position: absolute;
  width: 25%;
  top: 80vh;
  left: 56vw;
  color: white;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.8);
  border: 1px solid #004993;
}
  



  